# Ignore node modules and build outputs
node_modules
.next

# Local env files
.env
.env.local
.env.*.local

# Git and misc
.git
.gitignore
Dockerfile
docker-compose*.yml
README.md
*.log
.vscode
npm-debug.log*
